.page {
  max-width: 1280px;
  font-family: "Inter", Arial, sans-serif;
  background-color: #2a2c2f;
  color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 12%;
}
@media screen and (max-width: 768px) {
  .page {
    padding: 0 2%;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding: 0 4%;
  }
}
